:root {
  --primary-color: #e38826;

  --secondary-color: #006970;
  --accent-color: #004241;
  --body-color: #f1f1f1;
}

/* Basic styles */
* {
  box-sizing: border-box;
}

body,
h2,
p {
  margin: 0;
}

.attribution {
  color: black;
  font-size: 11px;
  margin-top: 100px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Topography */
body {
  background: #f2f2f2;
  color: var(--body-color);
  font-family: "Lexend Deca";
  font-size: 1rem;
  font-weight: 400;
}

h2 {
  color: #fff;
  font-family: "Big Shoulders Display";
  font-size: 2rem;
  font-weight: 700;
}

@media screen and (min-width: 60em) {
  body {
    font-size: 0.875rem;
  }
}

/* Icons */
.icon {
  width: 4.375rem;
}

/* Card */
.container {
  display: grid;
  max-width: 300px;
  margin: 0 auto;
  min-height: 100vh;
}

.card > * {
  margin-bottom: 2rem;
}

.card {
  --border-radius: 4px;
  
  padding: 1.5625rem;
}

.sedans {
  background-color: #e38826;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.suvs {
  background-color: darkcyan;
}

.luxury {
  background-color: #004241;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

@media screen and (min-width: 800px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    max-width: 750px;
  }

  .sedans {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }

  .luxury {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}

/* Button */
.btn {
  background: #fff;
  border-radius: 20px;
  border: 0;
  color: #f2f2f2;
  /* margin-top: 55px; */
  padding: 0.625rem 1.75rem;
}

.btn:hover {
  outline: 2px solid white;
  color: var(--body-color);
  cursor: pointre;
}

.btn--primary {
  color: var(--primary-color);
}

.btn--primary:hover {
  background: var(--primary-color);
}

.btn--secondary {
  color: var(--secondary-color);
}

.btn--secondary:hover {
  background: var(--secondary-color);
}

.btn--accent {
  color: var(--accent-color);
}

.btn--accent:hover {
  background: var(--accent-color);
}